@{
    ViewBag.Title = "Home Page";
}


<br/>
<div class="jumbotron">
    <h1>Storybook</h1>
    <p class="lead">Storybook is a free web application that shows how powerfull is ASP.NET MVC.
        Site is implemented using ASP.NET MVC 5, Enity Framework 6, Bootstrap, Jquery, HTML, CSS and JavaScript.</p>
    <p>
        <h4>Implemented by <a href="https://www.linkedin.com/in/hrayrgevorgyan" target="_blank">Hrayr Gevorgyan</a></h4>
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Storybook</h2>
        <p>
            Storybook is a sample application that demonstrates how to use Entity Framework 6 in an ASP.NET MVC 5 web application.
        </p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>